$mainGreen: #7cb82f;
$mainWhite: #ffffff;
$mainBlack: #333333;
$mainDarkGray: #888888;
$mainLightGray: #b2b2b2;
$mainBlue: #2f5572;
$mainOrange: #ff6900;
$mainCyan: #0084ac;

$cardTitleLarge: 1.75rem;
$cardTitleDefault: 1.25px;
$cardType: 0.875rem; 
$copy: 0.875rem;
$featuredText: 0.875rem;
$headline: 4rem;

$navigationOpenSans: 'Open Sans', sans-serif;
$copyOpenSans: 'Open Sans', sans-serif;
$LinksOpenSans: 'Open Sans', sans-serif;


