.header-nav {
    display: flex;
    border-bottom: 1px solid transparent;
    box-shadow: 3px 0px 11px -1px $mainLightGray;
    .logo {
        padding: 1rem;
    }
    nav {
        ul{
            display: inline-flex;
            margin: 1.25rem 0rem 1.25rem 0rem;
            font-size: 1.125rem;
            li {
                padding-right: 1rem;
            }
        }
    }
}