.small-card{
    background-color: transparent;
    border: 2px solid transparent;
    -webkit-box-shadow: 3px 0px 11px -1px $mainLightGray; 
    box-shadow: 3px 0px 11px -1px $mainLightGray;
    
    .smallCardContainer {
        height: 180px;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        .featureTag {
            font-size: $featuredText;
            color: $mainWhite;
            background-color: $mainOrange;
            position: absolute;
            top: 0;
            margin-top: 0rem;
            padding: 0.25rem 1rem 0.25rem 1rem;
        }
        .featureBoarderOrange{
            border: 4px solid $mainOrange;
        }
    }
    .cardBox {
        margin: .25rem;
        p {
            font-size: $featuredText;
            text-transform: uppercase;
        }

        h4 {
            font-size: $cardTitleDefault;
        }
    }

}